small {
  font-size: 11px;
}

.bg-dodgerblue {
  background-color: dodgerblue;
}

.py-0 {
  padding-top: 0 !important;
  padding-bottom: 0 !important;
}

.text-info {
  color: rgba(0, 0, 0, .54) !important;
}

.vh-90 {
  height: 90vh;
}

.ml-10px {
  margin-left: 10px;
}

.font-bold {
  font-weight: 700;
}

.font-semibold {
  font-weight: 500;
}

.text-sm {
  font-size: 14px;
}

.transform-rotate-scalex {
  transform: rotate(45deg) scaleX(-1);
}

.border__light {
  border: 1px solid rgba(0, 0, 0, .08);
}

.content__wrapper {
  overflow: hidden;
}

.box__wrapper {
  height: 100vh;
  background-color: #e2e2e2;
  position: relative;
  display: flex;
  align-items: center;
}

.curtain {
  height: 127px;
  width: 100%;
  background-color: dodgerblue;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0;
}

.box__shadow {
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, .06),
              0 2px 5px 0 rgba(0, 0, 0, .2);
}

.box__left__wrapper,
.box__right__wrapper {
  display: flex;
  flex-flow: column;
  height: 100%;
}

.box__header_left,
.box__header_right {
  padding: 10px 16px;
  background-color: #ededed;
  position: relative;
  z-index: 2;
  display: flex;
  align-items: center;
}

.box__header_left {
  border-right: 1px solid rgba(0, 0, 0, .08);
  padding-top: 12px;
  padding-bottom: 12px;
}

.box__header_right {
  border-bottom: 1px solid rgba(0, 0, 0, .08);
}

.box__profile,
.box__profile_ttl {
  flex-grow: 1;
}

.box__profile_contact {
  margin-right: 15px;
}

.profile {
  width: 40px;
  height: 40px;
  border-radius: 100%;
  overflow: hidden;
}

.profile__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  position: relative;
}

.box__action_left {
  display: flex;
  align-items: center;
}

.action__left {
  padding: 8px;
}

.box__search {
  background-color: #F6F6F6;
  padding: 8px 10px;
  border-top: 1px solid rgba(0, 0, 0, .08);
  border-bottom: 1px solid rgba(0, 0, 0, .08);
  border-right: 1px solid rgba(0, 0, 0, .08);
}

.search__wrapper {
  display: flex;
  background-color: #FFF;
}

.search__icon {
  height: 39px;
  display: flex;
  justify-content: center;
  align-items: center;
  padding-left: 14px;
  padding-right: 14px;
}

.search__input {
  flex-grow: 1;
  display: flex;
  align-items: center;
  padding-left: 3px;
  padding-right: 24px;
}

.input__text {
  width: 100%;
  border: 0;
  outline: none;
}

.box__chat {
  flex-grow: 1;
  background-image: url("../images/bgchat.png");
}

.box__contact {
  flex-grow: 1;
  overflow-y: auto;
  border-right: 1px solid rgba(0, 0, 0, .08);
  scrollbar-width: 5px;
  scrollbar-color: #CCCCCC #FFFFFF; /* thumb & track */
}

.box__contact::-webkit-scrollbar {
  width: 5px;
}

.box__contact::-webkit-scrollbar-track {
  background: #FFFFFF;
}

.box__contact::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;
}

.contact__wrapper {
  height: 72px;
  display: flex;
  flex-direction: row;
  border-bottom: 1px solid #EBEBEB;
}

.contact__wrapper:hover,
.contact__wrapper.active {
  cursor: pointer;
  background-color: #EBEBEB;
}

.contact__img {
  height: 100%;
  padding: 0 15px 0 13px;
  display: flex;
  align-items: center;
}

.wrapper__img__contact {
  width: 49px;
  height: 49px;
  border-radius: 100%;
  overflow: hidden;
}

.img__contact {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.contact__info {
  height: 100%;
  flex-grow: 1;
  display: flex;
  flex-direction: column;
  padding: 12px 14px 12px 0;
}

.contact__chat {
  display: flex;
  align-items: center;
}

.contact__chat span,
.contact__chat p {
  flex-grow: 1;
  width: 0;
  overflow: hidden;
  white-space: nowrap;
  text-overflow: ellipsis;
}

.contact__chat span {
  color: rgba(0, 0, 0, .66);
}

.contact__icon {
  display: flex;
  align-items: center;
  padding-left: 10px;
  gap: 6px;
}

.pinned__wrap {
  width: 20px;
  height: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #FFF;
  background-color: rgba(0, 0, 0, .24);
  border-radius: 100%;
}

.box__text_chat {
  height: 62px;
  background-color: #F0F0F0;
  border-top: 1px solid rgba(0, 0, 0, .08);
  padding: 9px 24px;
  display: flex;
  position: relative;
  z-index: 2;
}

.chat__icon_left,
.chat__input_text,
.chat__icon_right {
  height: 100%;
  display: flex;
  align-items: center;
}

.chat__input_text {
  flex-grow: 1;
}

.chat__input_text input {
  border: 0;
  height: 100%;
  width: 100%;
  padding-left: 26px;
  padding-right: 26px;
  outline: none;
}

.chat__icon_left {
  display: flex;
  align-items: center;
  margin-right: 14px;
  gap: 14px;
}

.chat__icon_right {
  display: flex;
  align-items: center;
  margin-left: 14px;
}

.chat__icon_wrapper:hover {
  cursor: pointer;
}

.chat__wrapper {
  position: relative;
  height: 100%;
  overflow-y: auto;
  scrollbar-color: #CCCCCC transparent; /* thumb & track */
}

.chat__wrapper::-webkit-scrollbar {
  width: 6px;
}

.chat__wrapper::-webkit-scrollbar-track {
  background: transparent;
}

.chat__wrapper::-webkit-scrollbar-thumb {
  background-color: #CCCCCC;
}

.chat__box_wrapper {
  position: absolute;
  width: 100%;
  left: 0;
  top: 0;
  padding: 10px 0;
}

.message__wrapper {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.is_message__content {
  display: flex;
}

.is_message__wrapper {
  position: relative;
  width: 49%;
}

.is_message {
  position: relative;
  display: inline-block;
  padding: 10px 16px 8px 12px;
  border-radius: 5px;
  background-color: #FFFFFF;
}

.is_message p {
  margin-bottom: 5px;
  font-size: 12px;
  font-weight: 700;
  color: rgb(180, 66, 66);
}

.is_message p:last-child {
  margin-bottom: 0;
  color: rgba(0, 0, 0, .39);
  text-align: right;
}

.custom__input_field {
  border-radius: 4px;
  caret-color: dodgerblue;
  cursor: pointer;
  background-color: #fff;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  width: 100%;
  padding: 0 12px;
  font-weight: 400;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
  border: 1px solid #ccc;
  font-size: 14px;
  height: 40px;
  min-height: 40px;
}

.custom__input_field:hover {
  border-color: dodgerblue;
}

.custom__input_field:focus {
  caret-color: dodgerblue;
  border-color: dodgerblue;
  box-shadow: rgba(30, 144, 255, 0.7) 0px 0px 0px 0.125rem;
}

.custom__btn_field {
  font-size: 14px;
  border-radius: 4px;
  font-weight: 400;
  border: 1px solid dodgerblue;
  background-color: dodgerblue;
  color: #fff;
  padding: 0 25px;
  height: 40px;
  -webkit-transition-duration: .3s;
  transition-duration: .3s;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  outline: none;
}

.custom__btn_field:hover,
.custom__btn_field:focus {
  box-shadow: rgba(30, 144, 255, 0.7) 0px 0px 0px 0.125rem;
}

.check__container {
  position: relative;
  padding-left: 35px;
  margin-bottom: 12px;
  cursor: pointer;
  font-size: 22px;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.check__container input {
  position: absolute;
  opacity: 0;
  cursor: pointer;
  height: 0;
  width: 0;
}

.check__mark {
  position: absolute;
  top: 0;
  left: 0;
  height: 25px;
  width: 25px;
  border-radius: 4px;
  background-color: #eee;
}

.check__container:hover input ~ .check__mark {
  background-color: #ccc;
}

.check__container input:checked ~ .check__mark {
  background-color: dodgerblue;
}

.check__mark:after {
  content: "";
  position: absolute;
  display: none;
}

.check__container input:checked ~ .check__mark:after {
  display: block;
}
.check__container .check__mark:after {
  left: 9px;
  top: 6.5px;
  width: 7px;
  height: 10px;
  border: solid white;
  border-width: 0 3px 3px 0;
  -webkit-transform: rotate(45deg);
  -ms-transform: rotate(45deg);
  transform: rotate(45deg);
}

.is_message__content.flex-end .is_message__wrapper {
  display: flex;
  justify-content: flex-end;
}

#content {
  animation: content .5s ease-in-out;
}

#announcement {
  top: 135px;
  left: 10px;
  animation: announcement .3s ease-in-out;
}

@keyframes content {
  from {
    transform: scale(2);
    opacity: 0;
  }
  to {
    transform: scale(1);
    opacity: 1;
  }
}

@keyframes announcement {
  from {
    left: -100px;
    opacity: 0;
  }
  to {
    left: 10px;
    opacity: 1;
  }
}